.blog-detail{
  background-color: #f6f5f5;
  padding-top: 20px;
  padding-bottom: 30px;
}
.blog-detail .image img{
  width: 100%;
}
.blog-detail .content{
  width: 100%;
  background-color: #fdfcfc;
  border-bottom: 1px solid #e2dede;
  padding: 10px 30px 30px 30px;
}
.btn-left-nav[hidden]{
  display: block !important;
}
.blog-detail .content .title{
  font-size:19px;
  color: #525252;
  font-family: 'robotocondensed-bold';

  margin-bottom: 10px;
  position: relative;
}
.blog-detail .content .title img{
  position: absolute;
  top: 0px;
  left: -10px;
  width: 5px;
  height: 22px;
}
.blog-detail .content .author-info{
  overflow: hidden;
}
.blog-detail .content .author-info .author-image{
  float: left;
}
.blog-detail .content .author-info .author-image img{
  width: 47px;
  border-radius: 47px;
  border: 4px solid #d7d7d7;
}
.blog-detail .content .author-info .info{
  float: left;
  color:#9fa1a1;
  font-family: 'roboto-regular';
  font-size: 11px;
  margin-left: 10px;
  margin-top: 10px;
}
.blog-detail .content .author-info .info span{
  color: #01a5a9;
}
.blog-detail .content .description{
  font-size:14px;
  color:#747474;
  font-family: 'roboto-regular';
  line-height: 18px;
}
