<ion-header>
  <ion-toolbar class="nav-home ">
    <button style="background:transparent" icon-button clear navPop>
      <img style="width:50%;" src="assets/img/backIcon.png" alt="">
    </button>
    <ion-title class="nav-title">
      Restaurants
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content-page">

  <div class="content-1">
    <img src="assets/img/res_top_bck.png" alt="">
    <!-- company img block -->
    <div class="content-1-img">
      <img src="{{BASE_URL+'/public/uploads/company/small_'+company.logo}}" alt="">
    </div>
    <h2>{{company.name}}</h2>
    <p>Fast Food</p>
    <h3>{{company.phone}}</h3>
    <!-- 底部4个button -->
    <div class="content-bottom">
      <div class="content-bottom-1">
        <img src="assets/img/menu.png" alt="">
        <p>Menu</p>
      </div>
      <div class="content-bottom-2" (click)="mediaPage(company.id_company)">
        <img src="assets/img/Media.png" alt="">
        <p>Media</p>
      </div>
      <div class="content-bottom-3">
        <img src="assets/img/Like.png" alt="">
        <p>Like</p>
      </div>
      <div class="content-bottom-4">
        <img src="assets/img/Save.png" alt="">
        <p>Save</p>
      </div>
    </div>
  </div>
  <div class="content-2">
    <img src="assets/img/res-point-1.png" alt="">
    <p>Quick Info</p>
  </div>
  <div class="content-3">
    <div>
      <img src="assets/img/clock.png" alt="">
      <p>Current Status:</p>
      <span *ngIf="open == 'Open'" class="content-3-list">Open Now</span>
      <span *ngIf="open == 'Closed'">Closed</span>
    </div>
    <div>
      <img src="assets/img/Email.png" alt="">
      <p>Email Address:</p>
      <span>{{company.email}}</span>
    </div>
    <div>
      <img src="assets/img/Website-Addy.png" alt="">
      <p>Website Addy:</p>
      <span>{{company.website}}</span>
    </div>
    <div>
      <img src="assets/img/Payment-Type.png" alt="">
      <p>Payment Type:</p>
      <span>{{company.payment}}</span>
    </div>
  </div>
  <div class="content-4">
    <img src="assets/img/_Popularity.png" alt="">
    <p>Popularity:</p>
    <div class="content-4-Cir">
      {{company.like}}
    </div>
  </div>
  <div class="content-5">
    <img src="assets/img/p-ad.png" alt="">
    <p>Address</p>
  </div>
  <div class="content-6">
    <div id="map"></div>
    <div class="map-content">
      <img src="assets/img/postion.png" alt="">
      {{company.address}}
    </div>
  </div>
  <div class="content-7">
    <img src="assets/img/p-ad.png" alt="">
    <p>About</p>
  </div>
  <div class="content-8" [innerHTML]="company.description">

  </div>
  <div class="content-9">
    <img src="assets/img/content-5.png" alt="">
    <span>Promotions</span>
  </div>
  <div class="content-10">
    <p *ngFor="let item of deals">{{item.deal_name}}</p>
  </div>
</ion-content>
