page-restaurants .nav-title .toolbar-title {
  color: #fff;
  font-size: 22px;
  padding-right: 8%;
  font-family: 'roboto-medium';
  text-align: center; }
page-restaurants .scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 52px; }
page-restaurants .content-page {
  background: #f6f5f5; }
  page-restaurants .content-page .content-1 {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #e2dede; }
    page-restaurants .content-page .content-1 .content-1-img {
      width: 87px;
      height: 87px;
      border-top: 1px solid #e2dede;
      box-shadow: 0px 3px 5px #e2dede;
      position: absolute;
      top: 6px;
      left: 37%;
      background: #fff; }
    page-restaurants .content-page .content-1 > h2, page-restaurants .content-page .content-1 > p, page-restaurants .content-page .content-1 > h3 {
      margin: 0;
      width: 100%;
      text-align: center; }
    page-restaurants .content-page .content-1 > h2 {
      font-size: 28px;
      color: #da6620;
      font-family: 'robotocondensed-bold';
      margin-top: 40px; }
    page-restaurants .content-page .content-1 > p {
      font-size: 12px;
      color: #9d9e9e;
      font-family: 'roboto-regular';
      margin-top: 10px; }
    page-restaurants .content-page .content-1 > h3 {
      font-size: 20px;
      color: #717171;
      font-family: 'robotocondensed-bold';
      margin-top: 10px; }
    page-restaurants .content-page .content-1 div.content-bottom {
      margin-top: 30px;
      height: 43px;
      width: 100%;
      left: 0; }
      page-restaurants .content-page .content-1 div.content-bottom div:not(:last-child) {
        border-right: 1px solid #e2dede; }
      page-restaurants .content-page .content-1 div.content-bottom div {
        height: 100%;
        width: 25%;
        float: left;
        text-align: center; }
        page-restaurants .content-page .content-1 div.content-bottom div p {
          margin: 0;
          color: #838383;
          font-size: 11px;
          font-family: 'roboto-regular';
          margin-bottom: 5px; }
      page-restaurants .content-page .content-1 div.content-bottom div:last-child img {
        width: 25%;
        display: inline-block; }
      page-restaurants .content-page .content-1 div.content-bottom div.content-bottom-1 img {
        width: 19%; }
      page-restaurants .content-page .content-1 div.content-bottom div.content-bottom-2 img {
        width: 29%; }
      page-restaurants .content-page .content-1 div.content-bottom div.content-bottom-3 img {
        width: 25%; }
  page-restaurants .content-page .content-2 {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e2dede;
    position: relative; }
    page-restaurants .content-page .content-2 img {
      position: absolute;
      bottom: -6px;
      left: 47%;
      width: 12px; }
    page-restaurants .content-page .content-2 p {
      width: 100%;
      text-align: center;
      font-size: 15px;
      font-family: 'roboto-medium';
      color: #717171;
      margin: 0;
      position: absolute;
      bottom: 5px; }
  page-restaurants .content-page .content-3 {
    padding-top: 5px;
    background: #fff;
    padding-bottom: 25px;
    border-bottom: 1px solid #e2dede; }
    page-restaurants .content-page .content-3 div {
      width: 80%;
      margin-left: 15%;
      margin-top: 20px;
      background: #fff;
      height: 28px;
      clear: both; }
      page-restaurants .content-page .content-3 div img {
        float: left;
        width: 10%; }
      page-restaurants .content-page .content-3 div p, page-restaurants .content-page .content-3 div span {
        font-family: 'roboto-regular';
        float: left;
        font-size: 13px;
        margin: 0;
        line-height: 28px; }
      page-restaurants .content-page .content-3 div .content-3-list {
        color: #319831; }
      page-restaurants .content-page .content-3 div p {
        margin-left: 10px;
        color: #717171; }
      page-restaurants .content-page .content-3 div span {
        margin-left: 20px;
        color: #717171; }
  page-restaurants .content-page .content-4 {
    width: 100%;
    height: 30px;
    margin-top: 25px;
    background: #fff;
    border-bottom: 1px solid #e2dede;
    border-top: 1px solid #e2dede;
    position: relative; }
    page-restaurants .content-page .content-4 img {
      width: 20px;
      position: relative;
      top: 5px;
      float: left;
      margin-left: 25%; }
    page-restaurants .content-page .content-4 p {
      line-height: 30px;
      margin: 0;
      font-size: 13px;
      color: #717171;
      font-family: 'roboto-regular';
      margin-left: 5px;
      float: left; }
    page-restaurants .content-page .content-4 div.content-4-Cir {
      position: absolute;
      top: -11px;
      right: 30%;
      width: 50px;
      height: 50px;
      border: 0;
      border-radius: 50px;
      background: #06cacf;
      color: #fff;
      font-size: 30px;
      font-family: 'bebasneue_regular';
      line-height: 50px;
      text-align: center; }
  page-restaurants .content-page .content-5, page-restaurants .content-page .content-7 {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e2dede;
    position: relative; }
    page-restaurants .content-page .content-5 img, page-restaurants .content-page .content-7 img {
      position: absolute;
      bottom: -7px;
      left: 41%;
      width: 63px; }
    page-restaurants .content-page .content-5 p, page-restaurants .content-page .content-7 p {
      text-align: center;
      font-size: 15px;
      font-family: 'roboto-medium';
      color: #717171;
      position: absolute;
      bottom: 5px;
      width: 100%;
      margin: 0; }
  page-restaurants .content-page .content-6 {
    width: 100%;
    height: 150px;
    background: #fff;
    border-bottom: 1px solid #e2dede;
    position: relative; }
    page-restaurants .content-page .content-6 #map {
      width: 100%;
      height: 100%; }
      page-restaurants .content-page .content-6 #map .leaflet-top {
        display: none; }
    page-restaurants .content-page .content-6 div.map-content {
      width: 45%;
      height: 75px;
      background: #fff;
      position: absolute;
      top: 38px;
      left: 0;
      border: 1px solid #e2dede;
      z-index: 1000;
      padding-left: 20%;
      padding-top: 10px;
      line-height: 1.5;
      font-size: 13px;
      color: #717171;
      font-family: 'roboto-regular';
      text-align: right;
      padding-right: 2%; }
      page-restaurants .content-page .content-6 div.map-content img {
        position: absolute;
        top: 3px;
        left: 31%;
        width: 15px; }
  page-restaurants .content-page .content-8 {
    width: 100%;
    font-size: 13px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'roboto-regular';
    color: #717171;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff; }
    page-restaurants .content-page .content-8 p {
      margin: 0; }
  page-restaurants .content-page .content-9 {
    width: 100%;
    height: 62px;
    border-top: 1px solid #e2dede;
    border-bottom: 1px solid #e2dede;
    position: relative; }
    page-restaurants .content-page .content-9 img {
      position: absolute;
      bottom: -5px;
      left: 47%;
      width: 12px; }
    page-restaurants .content-page .content-9 span {
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-family: 'roboto-medium';
      color: #717171; }
  page-restaurants .content-page .content-10 {
    padding-top: 20px;
    margin-bottom: 40px;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #e2dede; }
    page-restaurants .content-page .content-10 p {
      width: 100%;
      text-align: center;
      font-size: 19px;
      font-family: 'robotocondensed-bold';
      color: #da6620; }

/*# sourceMappingURL=restaurants.css.map */
