$nav-bk: #06cacf;
$nav-second-font-clolor:#7d7d7d;
$span-list:#bcbbbb;
$mc-list-p:#da6620;
$mc-list-bigfont:#ed6262;
$mc-preview:#858686;
$content-bk:#c8c7c7;
.nav-home>div{
  background: $nav-bk;
}
.toolbar-ios ion-title{
  padding-right: 15px;
  .span-2{
    width: 19%;
  }
}
.nav-title{
  >div{
    color: #fff;
    font-size:36px;
    font-weight:bolder;
    font-family: 'Myriad Pro';
  }
  .span-1{
    display: inline-block;
    width: 80%;
    text-align: center;
  }
  .span-2{
    display: inline-block;
    width: 20%;
    height:48px;
    text-align: right;
    padding-right:5px;
    img{
      position: relative;
      top: 7px;
    }
  }
}

.btn-left-nav{
  color: #fff;
  font-family: 'Myriad Pro';
  span{
    ion-icon{
      font-size:2.4em;
    }
  }
}
.nav-second{
  font-family:'roboto-medium';
  height:60px;
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $nav-second-font-clolor;
  font-size:10px;
  >div:not(:first-child){
    width: 24%;
    padding: 5px;
    padding-top: 10px;
    margin-left: 2%;
    height: 100%;
    float: left;
    span{
      position: relative;
      top:-5px;
    }
    img{
      width: 30%;
      margin-right: 5px;
    }
  }
  >div:first-child{
    width:24%;
    line-height: 40px;
    padding: 5px;

    padding-left: 8px;
    margin-left: 3%;
    height: 100%;
    float: left;
    border:1px solid #ccc;
    border-radius: 15px;
    background: $nav-bk;
    border-color: transparent;
    color: #fff;
    span{
      position: relative;
      top:-5px;
    }
    img{
      width: 20%;
      margin-right: 5px;
    }
  }
  >div:last-child{
    width: 18%;
    padding-top: 15px;
    img{
      width: 35%;

      margin-right: 5px;
    }
  }
}

//content
.content-page{
  background: #f8f9f9;

  .list-item{
    border-top:1px solid $content-bk;
    border-bottom:1px solid $content-bk;
    background: #fff;
    margin-top:10px;
  }
}
ion-app.md [padding],
ion-app.md [padding] .scroll-content{
  padding-left: 0;
  padding-right: 0;
}
//列表
.mc-p{
  color: #2ec95c;
  text-align:center;
  margin-top: 0;
  font-family: 'roboto-medium';
}
.mc-list-span{
  font-family: 'roboto-regular';
  span{
    color: $span-list;
  }
  span:first-child{
    float: left;
  }
  span:last-child{
    float: right;
  }
}
.mc-list-2{
  clear: both;
  p{
    font-family: 'robotocondensed-bold';
    width: 80%;
    color:$mc-list-p;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    float: left;
  }
  div{
    margin-top: 5px;

    float: right;
    width: 20%;
    .like-sp{
      width: 40px;
      height:40px;
      border: 0;
      border-radius: 30px;
      background: $mc-list-bigfont;
      color: #fff;
      text-align: center;
      line-height: 40px;
      font-size:20px;
      font-weight: bold;
    }
    .phone-sp{
      img:first-child{
        width: 50%;
      }
      img:last-child{
        width: 50%;
        margin-left: 38%;
        margin-top: 20px;
      }
    }
  }
}
.mc-list-3{
  clear: both;
  .img-list{
    float: left;
    width: 30%;
    margin-top: 20px;
    p{
      text-align: center;
      margin-top:5px;
      margin-bottom: 0;
      color: $mc-preview;
    }
  }
  .mc-3{
    float: right;
    width: 70%;
    margin-top: 20px;
    p{
      font-family: 'roboto-regular';
      width: 90%;
      padding: 10px;
      border:1px solid #d6d5d5;
      border-radius: 10px;
      margin:0;
      margin-left: 10%;
      font-size: 12px;
      color: $span-list;
      position: relative;
      >img{
        position: absolute;
        bottom:-11px;
        left: 75%;
        width:30px;
      }
    }
    div{
      font-family: 'roboto-medium';
      width: 70%;
      margin-left: 30%;
      height:30px;
      background:$nav-bk ;
      margin-top: 30px;
      border-radius: 5px;
      position: relative;
      color: #fff;
      line-height: 30px;
      padding-left: 5px;
      img{
        position: absolute;
        top:-25px;
        right: 0;
        width:30%
      }
    }
  }
}
