page-promos .scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important; }
page-promos .company-image {
  border: 1px solid #e5e3e3;
  border-radius: 2px; }
page-promos .left-side, page-promos .right-side {
  padding-top: 20px;
  padding-bottom: 20px; }
page-promos .mc-list-3 .img-list img {
  border: 1px solid #e5e3e3;
  border-radius: 2px; }
page-promos .mc-list-2 {
  overflow: hidden;
  min-height: 80px; }
page-promos .pointer-img {
  text-align: right; }
page-promos .pointer-img img {
  width: 40px; }
page-promos .content-page {
  background: #f8f9f9; }
  page-promos .content-page .list-item {
    border-top: 1px solid #e2dede;
    border-bottom: 1px solid #e2dede;
    background: #fff;
    margin-top: 10px; }
page-promos .mc-p {
  color: #2ec95c;
  text-align: center;
  margin-top: 0;
  font-family: 'roboto-medium'; }
page-promos .mc-list-span {
  font-family: 'roboto-regular';
  line-height: 1; }
  page-promos .mc-list-span span {
    color: #bcbbbb; }
  page-promos .mc-list-span span:first-child {
    float: left; }
  page-promos .mc-list-span span:last-child {
    float: right; }
page-promos .mc-list-2 {
  clear: both; }
  page-promos .mc-list-2 p {
    font-family: 'robotocondensed-bold';
    width: 80%;
    color: #da6620;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    float: left; }
  page-promos .mc-list-2 div {
    margin-top: 5px;
    float: right;
    width: 20%; }
    page-promos .mc-list-2 div div {
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 30px;
      background: #ed6262;
      color: #fff;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      font-weight: bold; }
    page-promos .mc-list-2 div img {
      width: 50%;
      margin-left: 38%; }
page-promos .mc-list-3 {
  clear: both; }
  page-promos .mc-list-3 .img-list {
    float: left;
    width: 30%;
    margin-top: 10px; }
    page-promos .mc-list-3 .img-list p {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0;
      color: #858686; }
  page-promos .mc-list-3 .mc-3 {
    float: right;
    width: 70%;
    margin-top: 10px;
    position: relative; }
    page-promos .mc-list-3 .mc-3 p {
      font-family: 'roboto-regular';
      width: 90%;
      padding: 10px;
      border: 1px solid #d6d5d5;
      border-radius: 10px;
      margin: 0;
      margin-left: 10%;
      font-size: 12px;
      color: #bcbbbb;
      position: relative; }
      page-promos .mc-list-3 .mc-3 p > img {
        position: absolute;
        bottom: -11px;
        left: 65%;
        width: 30px; }
    page-promos .mc-list-3 .mc-3 div {
      font-family: 'roboto-medium';
      height: 30px;
      background: #06cacf;
      margin-top: 21px;
      border-radius: 5px;
      position: relative;
      color: #fff;
      line-height: 30px;
      padding-left: 5px;
      width: 150px;
      float: right; }
      page-promos .mc-list-3 .mc-3 div img {
        position: absolute;
        top: -17px;
        right: 0;
        width: 30%; }
      page-promos .mc-list-3 .mc-3 div div {
        margin-top: 5px;
        float: right;
        width: 20%; }
        page-promos .mc-list-3 .mc-3 div div div {
          width: 40px;
          height: 40px;
          border: 0;
          border-radius: 30px;
          background: #ed6262;
          color: #fff;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          font-weight: bold; }
        page-promos .mc-list-3 .mc-3 div div img {
          width: 50%;
          margin-left: 38%;
          margin-top: 20px; }

/*# sourceMappingURL=Promos.css.map */
