<ion-header>
  <ion-navbar class="nav-home">
    <button ion-button menuToggle class="btn-left-nav">
      <!-- <ion-icon name="menu"></ion-icon> -->
      <img style="width:50%" src="assets/img/nav.png" name="menu" alt="">
    </button>
    <ion-title class="nav-title"><span class="span-1">sizzul</span> <span class="span-2"><img src="assets/img/search.jpg" alt=""></span></ion-title>
  </ion-navbar>
  <div class="nav-second">
    <div [ngClass]="{'act': isACT1}" (click)="categoryFilter($event,'Fast Food','act1')"><img src="{{nvImg1}}"  alt=""><span>Fast Food</span> </div>
    <div [ngClass]="{'act': isACT2}" (click)="categoryFilter($event,'Delivery/Take Out','act2')"><img src="{{nvImg2}}" alt=""><span>Delivery</span></div>
    <div [ngClass]="{'act': isACT3}" (click)="categoryFilter($event,'Sit Down Restaurant','act3')"><img src="{{nvImg3}}" alt=""><span>Sit Down</span></div>
    <div [ngClass]="{'act': isACT4}" (click)="actFilter()"><img src="{{nvImg4}}" alt=""><span>Filter</span></div>
  </div>
</ion-header>


<ion-content class="content-page"  padding>
  <div class="deals">
    <img src="{{ BASE_URL+mealTime }}">
  </div>
  <ion-grid style="padding:0;">
    <ion-row *ngFor="let item of deals" class="list-item">
      <ion-col col-3 class="left-side">
        <img src="{{BASE_URL+'/public/uploads/company/small_'+item.company_photo_location}}" alt="" class="company-image">
        <p class="mc-p">{{open[item.id_deal]}}</p>
      </ion-col>
      <ion-col col-9 class="right-side">
        <div class="mc-list-span">
          <span>{{item.company_name}}</span>
          <span>{{distances[item.id_company]}} miles away</span>
        </div>
        <div class="mc-list-2">
          <p>{{item.deal_name}}</p>
          <div>
            <div *ngIf="item.like!=null">{{item.like}}</div>
            <span *ngIf="item.like==null" style="height:40px;width: 40px;display: inline-block"></span>
          </div>
        </div>
        <div class="pointer-img"><img src="assets/img/mc-point.jpg" alt=""></div>
        <div class="mc-list-3">
          <div class="img-list">
            <img src="{{BASE_URL+'public/uploads/deal/small_'+media[item.id_deal]}}" alt="">
            <p>preview</p>
          </div>
          <div class="mc-3">
            <p>{{item.sub_title}}<img src="assets/img/mc-v.jpg" alt=""></p>
            <div>
              Tip for this item
              <img src="assets/img/mc-bt-img.png" alt="">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
