$nav-bk: #06cacf;
$nav-second-font-clolor:#7d7d7d;
.nav-home>div{
  background: $nav-bk;
}
.toolbar-ios ion-title{
  padding-right: 15px;
  .span-2{
    width: 19%;
  }
}
.nav-title{
  >div{
    color: #fff;
    font-size:36px;
    font-weight:bolder;
    font-family: 'Myriad Pro';
  }
  .span-1{
    display: inline-block;
    width: 80%;
    text-align: center;
  }
  .span-2{
    display: inline-block;
    width: 20%;
    height:48px;
    text-align: right;
    padding-right:5px;
    img{
      position: relative;
      top: 7px;
    }
  }
}
.btn-left-nav{
  color: #fff;
  font-family: 'Myriad Pro';
  span{
    ion-icon{
      font-size:2.4em;
    }
  }
}
.nav-second{
  height:60px;
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $nav-second-font-clolor;
  font-size:10px;
  >div:not(:first-child){
    width: 23%;
    padding: 5px;
    padding-top: 10px;
    margin-left: 2%;
    height: 100%;
    float: left;
    span{
      position: relative;
      top:-5px;
    }
    img{
      width: 30%;
      margin-right: 5px;
    }
  }
  >div:first-child{
    width:23%;
    line-height: 40px;
    padding: 5px;

    padding-left: 8px;
    margin-left: 3%;
    height: 100%;
    float: left;
    border:1px solid #ccc;
    border-radius: 15px;
    background: $nav-bk;
    border-color: transparent;
    color: #fff;
    span{
      position: relative;
      top:-5px;
    }
    img{
      width: 20%;
      margin-right: 5px;
    }
  }
  >div:last-child{
    width: 18%;
    padding-top: 10px;
    img{
      width: 35%;

      margin-right: 5px;
    }
  }
}

//content
