<ion-header>
  <ion-toolbar class="nav-home">
    <button style="background:transparent" icon-button clear navPop>
      <img style="width:50%;" src="assets/img/backIcon.png" alt="">
    </button>
    <ion-title class="nav-title1">
      <span class="span-1"><img src="assets/img/logo.png"></span>
      <span class="span-2"><img src="assets/img/search.jpg" alt=""></span>
      <span class="span-3"><img src="assets/img/back-map.png" alt="" (click)="goBack()"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [attr.noScroll]="shouldScroll" class="content-page">

  <div id="map"></div>
  <ion-grid class="grid">
    <ion-row *ngFor="let item of companies" class="list-item " [ngClass]="{'active': item.id_company == selectId}">
      <div class="left-side">
        <img src="{{BASE_URL+'/public/uploads/company/small_'+item.logo}}" alt="" class="company-image">
        <p class="mc-p">{{open[item.id_company]}}</p>
      </div>
      <div class="right-side">
        <div class="mc-list-span">
          <span>{{item.name}}</span>
          <span>{{distances[item.id_company]}} miles away</span>
        </div>

        <div class="mc-list-places">
          <div class="place-left">
            <p>{{item.name}}</p>
            <p class="address">{{item.address}}</p>
          </div>
          <div class="place-right">
            <div class="like-sp" *ngIf="item.like!=null">{{item.like}}</div>
            <span *ngIf="item.like==null" style="height:40px;width: 40px;display: inline-block"></span>
            <div class="phone-sp">
              <img src="assets/img/phone.png" alt="">
              <img src="assets/img/mc-point.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

    </ion-row>

  </ion-grid>
</ion-content>
