.leaflet-popup {
  display: none; }

page-map [noScroll] {
  overflow: hidden; }
page-map .content-page .grid {
  padding: 0; }
page-map #map {
  height: 100%;
  width: 100%; }
page-map #mapcontainter {
  height: 100%;
  width: 100%; }
page-map .nav-home > div {
  background: #06cacf; }
page-map .toolbar-ios ion-title .span-2 {
  width: 19%; }
page-map .nav-title1 > .toolbar-title-ios .span-1 {
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Myriad Pro';
  display: inline-block;
  width: 91%;
  text-align: center; }
  page-map .nav-title1 > .toolbar-title-ios .span-1 img {
    width: 23%; }
page-map .nav-title1 > .toolbar-title-ios .span-2 {
  display: inline-block;
  width: 9%;
  text-align: right;
  padding-right: 5px; }
  page-map .nav-title1 > .toolbar-title-ios .span-2 img {
    position: relative;
    width: 69%;
    margin-right: 25%; }
page-map .nav-title1 > .toolbar-title-ios .span-3 {
  position: absolute;
  right: 10%;
  display: inline-block;
  top: 14px; }
  page-map .nav-title1 > .toolbar-title-ios .span-3 img {
    width: 50%; }
page-map .nav-title1 > .toolbar-title-md {
  padding-right: 0; }
  page-map .nav-title1 > .toolbar-title-md .span-1 {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Myriad Pro';
    display: inline-block;
    width: 91%;
    text-align: center; }
    page-map .nav-title1 > .toolbar-title-md .span-1 img {
      width: 23%; }
  page-map .nav-title1 > .toolbar-title-md .span-2 {
    display: inline-block;
    width: 9%;
    text-align: right;
    padding-right: 5px; }
    page-map .nav-title1 > .toolbar-title-md .span-2 img {
      position: relative;
      width: 69%;
      margin-right: 25%; }
  page-map .nav-title1 > .toolbar-title-md .span-3 {
    position: absolute;
    right: 10%;
    display: inline-block;
    top: 14px; }
    page-map .nav-title1 > .toolbar-title-md .span-3 img {
      width: 50%; }
page-map .scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important; }
page-map .left-side, page-map .right-side {
  padding-top: 15px;
  padding-bottom: 15px; }
page-map .left-side {
  width: 22%;
  padding-left: 8px;
  padding-right: 8px;
  float: left; }
page-map .right-side {
  float: left;
  width: 78%;
  padding-right: 8px; }
page-map .place-left {
  float: left;
  width: 70%; }
page-map .place-left .address {
  font-size: 12px;
  color: #b2b1b1;
  font-family: 'roboto-regular'; }
page-map .place-right {
  width: 30%;
  float: left; }
page-map .company-image {
  border: 1px solid #e5e3e3;
  border-radius: 2px; }
page-map .content-page {
  background: #f8f9f9; }
  page-map .content-page .list-item {
    border-top: 1px solid #e2dede;
    border-bottom: 1px solid #e2dede;
    background: #fff;
    position: absolute;
    z-index: 999;
    bottom: 20px;
    display: none; }
  page-map .content-page .active {
    display: flex; }
page-map ion-app.md [padding],
page-map ion-app.md [padding] .scroll-content {
  padding-left: 0;
  padding-right: 0; }
page-map .leaflet-bottom {
  display: none; }
page-map .mc-p {
  color: #2ec95c;
  text-align: center;
  margin-top: 0;
  font-family: 'roboto-medium';
  font-size: 13px;
  margin-bottom: 0px; }
page-map .mc-list-span {
  font-family: 'roboto-regular';
  line-height: 1;
  font-size: 12px; }
  page-map .mc-list-span span {
    color: #bcbbbb; }
  page-map .mc-list-span span:first-child {
    float: left; }
  page-map .mc-list-span span:last-child {
    float: right; }
page-map .mc-list-places {
  clear: both; }
  page-map .mc-list-places p {
    font-family: 'robotocondensed-bold';
    width: 100%;
    color: #da6620;
    font-size: 19px;
    margin: 0;
    margin-top: 10px;
    float: left; }
  page-map .mc-list-places div div.like-sp {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 30px;
    background: #ed6262;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin-top: 10px; }
  page-map .mc-list-places div div.phone-sp {
    clear: both;
    width: 100%; }
    page-map .mc-list-places div div.phone-sp img:first-child {
      width: 24%;
      float: left;
      margin-top: 15px; }
    page-map .mc-list-places div div.phone-sp img:last-child {
      width: 30%;
      margin-top: 23px;
      float: right;
      margin-right: 5px; }

/*# sourceMappingURL=map.css.map */
